<h1> So You Want To Write Surveys? </h1>

<p>Create a new survey:</p>

<form action='/surveys' method='post'>
  <label for='survey_name'>Survey Name</label>
  <input id='survey_name' name='survey_name' type='text'>

  <button type="submit">Add Survey</button>
</form>

<p>Here are your surveys:</p>

<ul>
  <% @surveys.each do |survey| %>
  <li style="margin: 5px auto;">
    <a href="/survey/ <%=survey.id()%>"><button type="submit">Edit</button></a>  <%= survey.survey_name %>
    <% end %>
  </li>

</ul>
