<h1> So You Want To Write Surveys? </h1>

<p>Create a new survey:</p>

<form action='/surveys' method='post'>
  <label for='survey_name'>Survey Name</label>
  <input id='survey_name' name='survey_name' type='text'>

  <button type="submit">Add Survey</button>
</form>

<p>Here are your surveys:</p>

<ul>
  <% @surveys.each do |survey| %>
  <li>
    <a href="/survey/ <%=@survey.id()%>"><%= survey.survey_name %></a></li>
    <% end %>
</ul>
